.App {
  text-align: left;
}

.App-logo {
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 200px;
  padding: 40px;
  color: white;
}

.App-title {
  padding: 20px;
  font-size: 1.5em;
}

.App-intro {
  text-align: left;
  font-size: large;
}

.Container{
    margin-left: 10px;
}

.MP-Link{
    padding-left : 0px;
    font-size: 1.5em;
    font-weight: bold;
}